<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>462715098478-9iu1i39a0d3ia8d5gp72e80f0a6jcfo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462715098478-9iu1i39a0d3ia8d5gp72e80f0a6jcfo0</string>
	<key>API_KEY</key>
	<string>AIzaSyBLc9OZFFET7spaUa3ggKcnxTfrRrKcAcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>462715098478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hapi.actinutrition</string>
	<key>PROJECT_ID</key>
	<string>actinutrition-detox-minceur</string>
	<key>STORAGE_BUCKET</key>
	<string>actinutrition-detox-minceur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462715098478:ios:7bc02fe1f981d086</string>
	<key>DATABASE_URL</key>
	<string>https://actinutrition-detox-minceur.firebaseio.com</string>
</dict>
</plist>